# Logs
logs
*.log
npm-debug.log*
v*.md

# Dependencies
node_modules/
dist/
dist-ssr/

# Editor directories and files
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment Variables
.env
.env.local
.env.*.local
