# Logs
logs
*.log
npm-debug.log*
v*.md

# Dependencies
node_modules/
dist/
dist-ssr/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Editor directories and files
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment Variables
.env
.env.local
.env.*.local
